@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br> Mid-Term Project</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <!--Adding links for Jobs and Candidates on Index page-->
    <p><a href="">Jobs</a></p>
    <p><a href="">Candidates</a></p>

    <!--Adding My name and Student ID to the Footer-->
    <footer>
    <p>Student Name: Mukul Hooda</p>
    <p>Student ID: 200479341</p>
    </footer>
</div>
